// _variables.scss
$background-color: #f5f1e9;
$text-color: #6a0dad;
$header-color: #6a0dad;
$button-color: #7e27de;
$hover-color: #8da9e7;
$back-button-color: #d1c4e9;
$hover-back-color: #b39ddb;
$shadow-color: rgba(109, 130, 153, 0.3);
