@import "./variables";

.App {
  text-align: center;
  padding: 20px;
  background-color: $background-color;
  min-height: 100vh;
  color: $text-color;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
}

.App-header {
  font-family: "Georgia", serif;
}
